body
{
	font-family:serif;
	background-color: black;
}

#canvas{
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:auto;
}

#canvassm
{
	width: 100%;
	height: 100%;
	background-color: black;
}



.container
{
	position: absolute;
	top: 190px;
	right: 10%;
	height: 300px;
	color: palegoldenrod;
	
}

.container h2
{
	color: white;
	font-family:serif;
	font-weight:100;
}

.box2
{
	width: 1336px;
	height: 680px;
	background-color:darkcyan;
	position: absolute;
	top: 620px;
	right: 1px;
}


.box3
{
	width: 1336px;
	height: 680px;
	background-color:cornflowerblue;
	position: absolute;
	top: 1250px;
	right: 1px;
	
}

.box5
{
	width: 1336px;
	height: 680px;
	background-color:darkslategrey;
	position: absolute;
	top: 1930px;
	right: 1px;
	
}


.box6
{
	width: 1336px;
	height: 680px;
	background-color:gray;
	position: absolute;
	top: 2610px;
	right: 1px;
	
}

.box7 
{
	width: 1336px;
	height: 550px;
	background-color: white;
	position: absolute;
	top: 3200px;
	right: 0px;

}



.image1
{
	position:absolute;
	top: 800px;
}


.image2
{
	position: absolute;
	top: 1450px;
	border-radius: 34px;
}



.image3
{
	position: absolute;
	top: 2120px;
}

.image4
{
	position: absolute;
	top: 2750px;
}

.aboutme
{
	position: absolute;
	top: 3260px;
	right: 100px;
}

.button1
{
	position: absolute;
	top:1150px;
	right: 90px;
	z-index: 1;
}
.button2
{
	position: absolute;
	top: 1820px;
	right: 90px;
}

.button3
{
	position: absolute;
	top: 2500px;
	right: 90px;
}

.button4
{
	position: absolute;
	top:3080px;
	right: 90px;
}

.button5
{
	position: absolute;
	top: 3670px;
	width: 150px;
	height: 40px;
	font-weight: 800;
	border-radius: 5px;
	background-color: black;
	color: white;
}

.jumbotron 
{
	background: none;
	
}

.para1
{
	position: absolute;
	right: 0px;
	top: 700px;
	z-index: 1;

}

.para2
{
	position: absolute;
	top: 1400px;
	right: 0px

}

.para3
{
	position: absolute;
	top: 2030px;
	right: 0px;
}

.para4
{
	position: absolute;
	top: 2650px;
	right: 0px;
}

.aboutme1
{
	position: absolute;
	top: 3420px;
	right: 0px;
	color: gray;
	font-size: 1.1em;
}


ul
{
	display: flex;
	text-align: center;
	position: absolute;
	transform: translate(-50,-50);
	
}

ul li
{
	border-radius: 34px;
	background-color: firebrick;
	color: white;
	margin: 10px;
	list-style: none;
	font-size: 24px;
	transition: .5s;
}

ul li a
{
	width: 60px;
	padding: 16px;
	display: block;
	color: aliceblue;
}

a:link
{
	text-decoration: white;
	color: aliceblue;

}

.side1
{
	width: 700px;
	height: 630px;
	background-color: red;
	opacity: .2;
	position: absolute;
	right: 0px;
	top: 620px;
}

.side2
{
	width: 700px;
	height: 682px;
	background-color: red;
	opacity: .2;
	position:absolute;
	right: 0px;
	top: 1250px;

}

.side3
{
	width: 700px;
	height: 680px;
	background-color: yellow;
	opacity: .2;
	position:absolute;
	right: 0px;
	top: 1930px;

}

.side4
{
	width: 700px;
	height: 590px;
	background-color: red;
	opacity: .1;
	position:absolute;
	right: 0px;
	top: 2609px;

}














